.todo-list {
    color: rgb(2, 2, 95);
    list-style-type: none;
    margin-top: 10px;
    padding: 5px;
}
.todo-list-item {
    display: flex;
    margin-bottom: 10px;
}

.todo-list-task {
    width: 60%;
}
