.todo-list {
    color: rgb(2, 2, 95);
    font-size: 2rem;
    list-style-type: none;
    margin-top: 20px;
    padding: 0px;
}
.todo-list-item {
    display: flex;
    margin-bottom: 10px;
}

.todo-list-task {
    width: 60%;
}
