@import '../CssLibrary/basic.css';

.todo {
    background-color: rgb(214, 177, 128);
    max-width: 700px;
    margin: auto;
    padding: 30px;
    border-radius: 1rem;
}

.todo-heading {
    color: var(--primary-color);
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}

/* Tablet */
@media (max-width: 768px) {
    .todo {
        width: 90%;
        padding: 20px;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .todo {
        width: 95%;
        padding: 15px;
        margin: 5px auto;
    }
}

