:root {
    --primary-color: purple;
    --primary-bg-color: #5D1049;
    --light-blue-color: #0984e3;
    --light-color: #ffffff;
    --light-pink-color: #e3cddc;
    --light-dark-color: rgb(50, 49, 49);
}